/* En tu archivo style/home.css */

.job-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px auto;
  max-width: 1000px;
  padding: 0 20px;
}

@media (max-width: 1024px) {
  .job-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .job-grid-container {
    grid-template-columns: 1fr;
  }
}