.job-card {
  background-color: #fff;
  border-radius: 8px; /* Borde m치s peque침o */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra m치s sutil */
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 320px; /* Ajusta el ancho para que quepan 3 por fila */
  border: 1px solid #e6e6e6;
  position: relative; /* Para posicionar el 칤cono de la esquina */
}

/* Encabezado */
.job-header {
  display: flex;
  align-items: flex-start; /* Alinear arriba para el logo */
  margin-bottom: 15px;
}

.job-type-badges {
  display: flex;
  gap: 6px;
  align-items: center;
}

.badge {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px; /* 游녣 pastilla redondeada */
  color: #fff;
  line-height: 1;
  white-space: nowrap;
}

.internship-badge {
  background: linear-gradient(135deg, #2e7d32, #43a047); /* verde degradado */
}

.parttime-badge {
  background: linear-gradient(135deg, #1976d2, #42a5f5); /* azul degradado */
}


.company-logo {
  width: 48px;
  height: 48px;
  border-radius: 4px; /* Borde m치s cuadrado */
  margin-right: 12px;
  border: 1px solid #e6e6e6;
}

.company-info {
  flex-grow: 1;
}

.company-name {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #333;
}

.company-location {
  font-size: 0.8rem;
  color: #777;
  margin: 0;
}

.job-time {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 0%;
  color: #777;
}

/* Cuerpo de la tarjeta */
.job-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.4;
  height: 4.2em; /* Altura fija para el t칤tulo */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.salary-info {
  display: inline-flex;
  align-items: center;
  background-color: #d1fae5;
  color: #065f46;
  border-radius: 20px;
  padding: 4px 8px; /* Relleno m치s peque침o */
  font-size: 0.8rem; /* Tama침o de fuente m치s peque침o */
  font-weight: 500;
}

.salary-info svg {
  margin-right: 4px;
}

/* Pie de la tarjeta y botones */
.job-footer {
  display: flex;
  gap: 8px; /* Espacio m치s peque침o entre botones */
  margin-top: 15px; /* Espacio superior */
}

.btn {
  padding: 10px 16px; /* Relleno m치s peque침o */
  border-radius: 4px; /* Borde m치s cuadrado */
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

.btn-save {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
}

.btn-save:hover {
  background-color: #f0f0f0;
}

.btn-apply {
  background-color: #000080;
  border: none;
  color: #fff;
  flex-grow: 1;
}